.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.sectionNav {
	display: none;
}

.resume {
	max-width: 780px;
	margin: 24px 24px 30px;
	display: flex;
	flex-direction: column;
}

.resumeCard {
	background: white;
	box-shadow: 0px 0px 3px -1px #170821;
	padding: 8px 16px;
}

.downloadLink {
	padding: 6px;
	align-self: flex-end;
	margin-bottom: 16px;
	background: #ca3866;
	border-radius: 4px;
	box-shadow: 0px 0px 3px -1px #170821;
	color: #faf6f6;
	text-decoration: none;
	border: 2px solid transparent;
}
.downloadLink:hover,
.downloadLink:focus {
	background: white;
	color: #ca3866;
	border-color: #ca3866;
}

.primary {
	font-family: 'Merriweather Sans';
	font-size: 32px;
	color: #00738a;
	margin: 8px 0;
}

.section,
.content,
.skillContent {
	padding: 0 16px;
}

.skillContent {
	display: inline-block;
	min-width: 119px;
	text-align: left;
}

.secondary {
	font-family: 'Merriweather Sans';
	color: #170821;
	font-size: 24px;
	margin: 8px 0;
}

.tertiary {
	font-family: 'Merriweather Sans';
	font-weight: 200;
	color: #ca3866;
	text-transform: uppercase;
	font-size: 18px;
	margin: 0;
}

.body {
	font-family: 'Merriweather';
	color: #170821;
	margin: 8px 0;
	font-size: 14px;
}

.expListItem {
	    line-height: 1.5;
    padding-bottom: 6px;
}

.spacedSiblings {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dates {
	font-family: 'Merriweather';
	font-size: 13px;
	color: #170821;
	font-weight: 600;
	margin: 0;
}

.stars {
	display: flex;
	align-items: center;
}

.filledStar:before {
	content: '\2605';
	color: #ca3866;
	font-size: 16px;
}

.emptyStar:before {
	content: '\2729';
	color: #ca3866;
	font-size: 16px;
}

@media only screen and (min-width: 768px) {
	.sectionNav {
		display: block;
		width: 180px;
		margin-top: 24px;
		border-right: 1px solid #ca3866;
	}

	.navList {
		padding: 0 16px;
		margin: 0;
		list-style-type: none;
	}

	.listItem {
		padding: 8px 0;
	}

	.emptyStar:before {
		font-size: 21px;
	}
}
